<html>
	<head>
		<title>Sample HTML File</title>
	</head>
	<body>
		<nav>
			<a href='./index.html'>HOME</a>
			<a href='./views/info.html'>INFO</a>
		</nav>

		<h1>HTML FILE</h1>
		<p>This is an html file</p>
	</body>
</html>

